/node_modules
/public/build
/public/hot
/public/storage
/public/themes
/public/vendor
/public/tmp
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
/**/*/http-client.private.env.json
/bootstrap/ssr
/public/js
/public/css
/public/fonts
/public/manage-events-385813-0cd928a738fb.json
/public/manage-events-385813-eb3cbb198ffb.json
/storage/credentials.json
resources/views/test.blade.php
app/Http/Controllers/TestController.php
